---
import Layout from '@/layouts/Layout.astro'
import { experiences, education, skills } from '../data/cv'
import { papers } from '../data/papers';
import { proceedings } from '../data/proceedings';
import CvTimeline from '@/components/ui/CvTimeline.astro'

import type { Experience, Education, Publication } from '../types/cv'
import List from '@/components/ui/List.astro'
import PublicationsList from '@/components/ui/PublicationsList.astro'

let orderedExperiences: Experience[] = []
let orderedEducations: Education[] = []
let orderedPublications: Publication[] = []

const orderElement = <T extends { time: string }>(a: T, b: T) => {
  const presentValues = ['present', 'now', 'current', 'today']
  if (
			presentValues.includes(
				(a['time'] as string)?.split(' - ')[1]?.toLowerCase()
			)
		) {
			// If the date is 'present', it should be the first element
			return -1
		}
		const dateA = new Date((a['time'] as string)?.split(' - ')[1])
		const dateB = new Date((b['time'] as string)?.split(' - ')[1])
		return dateB.getTime() - dateA.getTime()
}

if (experiences.length > 0) {
	orderedExperiences = experiences.sort((a, b) => {
		return orderElement(a, b)
	})
}

if (education.length > 0) {
	orderedEducations = education.sort((a, b) => {
		return orderElement(a, b)
	})
}

if (papers.length > 0) {
	orderedPapers = papers.sort((a, b) => {
		return orderElement(a, b)
	})
}

if (proceedings.length > 0) {
	orderedProceedings = proceedings.sort((a, b) => {
		return orderElement(a, b)
	})
}
---

<Layout>
	{
		orderedExperiences.length > 0 && (
			<section class='mb-12'>
				<h2 class='text-2xl font-bold mb-6 border-b pb-2'>
					Academic Appointments
				</h2>
				<CvTimeline elements={orderedExperiences} colored={true} />
			</section>
		)
	}

	{
		orderedEducations.length > 0 && (
			<section class='mb-12'>
				<h2 class='text-2xl font-bold mb-6 border-b pb-2'>
					Education
				</h2>
				<CvTimeline elements={orderedEducations} colored={true} />
			</section>
		)
	}

	{
		orderedPapers.length > 0 && (
			<section class='mb-12'>
				<h2 class='text-2xl font-bold mb-6 border-b pb-2'>
					Last publications
				</h2>
				<h3 class='text-2xl font-bold mb-6 border-b pb-2'>
					Refereed papers
				</h3>
				<PapersList elements={orderedPapers}/>
				<h3 class='text-2xl font-bold mb-6 border-b pb-2'>
					Conference proceedings
				</h3>
				<ProceedingsList elements={orderedProceedings}/>
			</section>
		)
	}

	{
		skills.length > 0 && (
			<section class='mb-12'>
				<List listTitle='Skills' listItems={skills}/>
			</section>
		)
	}
</Layout>
